$mainHeadingFont: "Source Sans Pro", serif;
$primary: #3086fd;
$secondary: #f5f3f4;

header {
    font-family: $mainHeadingFont;
}
.top-nav {
    background: $secondary;
    @include fontSize(16px);
    padding: 20px;
    border:0;
        a:hover{
            border-bottom: solid thin $primary;
            transition: 0.5s;
        }
    }   
.top-nav .wrapper {
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    .top-nav-info {
        @include flexbox;
        width: 40%;
        justify-content: flex-start space-between;
        text-transform: capitalize;
        img {
           vertical-align: middle;
        }    
    }  
    ul{
    @include flexbox;
    width: 100%;
    justify-content: flex-end;
    }
    li {
    padding: 5px;
    margin: 0 10px;
        i {
        color: #3086fd;
        margin: 0 10px;
        }
    }
    li:last-child {
        margin-right: 0;
    }
    select {
        border-style: none;
        background: $secondary;
    }    
}
// end top-nav
.banner {
    @include flexbox;
    justify-content: space-between;
    padding: 40px 0;
}
.logo {
    width: 30%;     
    display: inline-block;
    img{
    vertical-align: top;
    }
}
.banner-info {
        display: inline-block; 
        margin-left:25px;
    }
.banner-p {
    @include fontSize(18px);
    padding: 10px 0;
    color: $tertiary;
}
.office-info{
    @include flexbox;
    width: 70%;
    justify-content: space-between;
    .office-info-item img {
            vertical-align: top;
        }
    }
.free-consult p{
    border: solid 2px $primary;
    padding: 20px;
    color: $primary;
    text-transform: uppercase;
}
// end banner 
.main-nav {
    @include blue-box;
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    ul {
        @include flexbox;
        justify-content: space-between;
    }
    li{
        text-transform: uppercase;
        padding: 25px 15px 15px 20px;
    }
    li:hover {
        @include blue-box-hover;
    }
}
.main-nav-icons{
    vertical-align: middle;
    li:first-child::after {
        content: "2";
        height: 5px;
        width: 5px;
        border-radius: 50%;
        padding:5px 10px;
        font-size:12px;
        background: #2d71cd;
    }
    li:nth-child(2) {
    border-right: solid thin #fff;
    }
}
// end main-nav