$mainHeadingFont: "Source Sans Pro", serif;
$primary: #3086fd;
$secondary: #f5f3f4;

header {
    font-family: $mainHeadingFont;
}
.top-nav {
    background: $secondary;
    @include fontSize(16px);
    padding: 20px;
    border:0;
        a:hover,
        a:focus{
            border-bottom: solid thin $primary;
            transition: 0.5s;
        }
    }   
.top-nav .wrapper {
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    .top-nav-info {
        @include flexbox;
        width: 40%;
        justify-content: flex-start space-between;
        text-transform: capitalize;
        img {
           vertical-align: middle;
        }    
    }  
    ul{
    @include flexbox;
    width: 100%;
    justify-content: flex-end;
    }
    li {
    padding: 5px;
    margin: 0 10px;
        i {
        color: #3086fd;
        margin: 0 10px;
        }
    }
    li:last-child {
        margin-right: 0;
    }
    select {
        border-style: none;
        background: $secondary;
    }    
}
// end top-nav
.banner {
    @include flexbox;
    justify-content: space-between;
    padding: 40px 0;
}
.logo {
    width: 30%;     
    display: inline-block;
    img{
    vertical-align: top;
    }
}
.banner-info {
        display: inline-block; 
        margin-left:25px;
    }
.banner-p {
    @include fontSize(18px);
    padding: 10px 0;
    color: $tertiary;
}
.office-info{
    @include flexbox;
    width: 70%;
    justify-content: space-between;
    .office-info-item img {
            vertical-align: top;
        }
    }
.free-consult p{
    border: solid 2px $primary;
    padding: 20px;
    color: $primary;
    text-transform: uppercase;
}
// end banner 
.hamburger-nav {
    display: none;
}
.main-nav {
    @include blue-box;
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    ul {
        @include flexbox;
        justify-content: space-between;
    }
    li{
        text-transform: uppercase;
        padding: 25px 15px 15px 20px;
    }
    li:hover,
    li:focus {
        @include blue-box-hover;
    }
}
.main-nav-icons{
    vertical-align: middle;
    li:first-child{
        position: relative;
    }
    li:first-child::after {
        content: "2";
        // height: 5px;
        text-align: center;
        width: 10px;
        border-radius: 50%;
        padding:5px 5px;
        font-size:12px;
        background: #2d71cd;
        position: absolute;
        bottom: 5px;
        right: 5px;
        
    }
    li:nth-child(2) {
    border-right: solid thin #fff;
    }
}
// end main-nav



@media (max-width : 960px) {

.top-nav .wrapper {
    flex-direction: column;
    .top-nav-info {
        justify-content: space-around;
        width: 100%;
        margin: 10px 0;
    }
    ul {
        justify-content: space-between;
    }
}

.banner {
    flex-direction: column;
    .logo {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .banner-info {
        margin-left: 15px;
        text-align: left;
    }
    .office-info {
        width: 100%;
        margin-top: 20px;
    }
}



ul.main-nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background: $primary;
    padding: 0 10px;
    transition: 0.5s;
}
.hamburger-nav {
    display: block;
    position: relative;
    i {
        margin: 20px;
    }
}
.hamburger-nav:hover + ul.main-nav-menu,
.hamburger-nav:focus + ul.main-nav-menu {
    display: block;
    position: absolute;
    top: 375px;

} 
.main-nav-icons  {
    transform: none; 
} 


} //end media query 960px

@media (max-width : 768px) {

    .banner .office-info {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    .office-info-item {
        margin: 10px;
    }
    a {
        margin: 50px auto 0 auto;
    }
}
.hamburger-nav i {
    margin: 10px;
}

.main-nav li {
    padding: 10px 20px;
}

} //end media query 768px;

@media (max-width : 480px) {

.top-nav {
    font-size: 12px;
    img {
        display: none;
    }
    .wrapper li {
        margin: 0;
    }
}

.banner .office-info a {
    margin: 0;
}
.main-nav li {
    padding: 10px;
}

} //end media query 480px;

@media (max-width : 320px) {
.main-nav li {
      padding: 5px;
}


}