@import "components/variables";

@mixin fontSize ($sizeValue) {
    font-size: $sizeValue;
    color: rgba (0,0,0,0.7);
    font-weight: 400px;
}

@mixin flexbox {
    display: flex;
}
@mixin serifHeading ($sizeValue) {
    font-family: $secondaryHeadingFont;
    font-size: $sizeValue;
    font-weight: 700;
    padding-bottom: 10px;
}

// @mixin logo-h4 {
//     font-family: $secondaryHeadingFont;
//     font-size: 32px;
//     font-weight: 700;
//     padding-bottom: 10px;
// }

@mixin blue-box {
    @include fontSize(18px);
    background: $primary;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    transition: 0.5s;
}
@mixin blue-box-hover {
    @include blue-box;
    background: #0b397e;
    transform: translateX(10px);
    transition: 0.5s;
}
