@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:400,500,600,700|Source+Sans+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:400,500,600,700|Source+Sans+Pro:400,700");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, .hero-banner .wrapper p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  font-family: "Source Sans Pro", serif; }

.top-nav {
  background: #f5f3f4;
  font-size: 16px;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px;
  padding: 20px;
  border: 0; }
  .top-nav a:hover {
    border-bottom: solid thin #3086fd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.top-nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .top-nav .wrapper .top-nav-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-pack: flex-start space-between;
    -ms-flex-pack: flex-start space-between;
    justify-content: flex-start space-between;
    text-transform: capitalize; }
    .top-nav .wrapper .top-nav-info img {
      vertical-align: middle; }

.top-nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .top-nav .wrapper ul li {
    padding: 5px;
    margin: 0 10px; }
    .top-nav .wrapper ul li i {
      color: #3086fd;
      margin: 0 10px; }
  .top-nav .wrapper ul li:first-child::after {
    content: "";
    display: inline-block;
    background: url("../images/down-caret.png") no-repeat;
    width: 10px;
    height: 6px; }
  .top-nav .wrapper ul li:last-child {
    margin-right: 0; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0; }

.logo {
  width: 30%;
  display: inline-block; }
  .logo img {
    vertical-align: top; }

.banner-info {
  display: inline-block;
  margin-left: 25px; }

.office-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .office-info .office-info-item img {
    vertical-align: top; }

.banner-p {
  font-size: 18px;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px;
  padding: 10px 0;
  color: rgba(39, 39, 39, 0.7); }

.free-consult p, .free-consult .hero-banner .wrapper p, .hero-banner .wrapper .free-consult p {
  border: solid 2px #3086fd;
  padding: 20px;
  color: #3086fd;
  text-transform: uppercase; }

.main-nav {
  font-size: 18px;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px;
  background: #3086fd;
  color: #fff;
  letter-spacing: 0.45;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-nav li {
    text-transform: uppercase;
    padding: 25px 15px 15px 20px; }
  .main-nav li:hover {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #3086fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #0b397e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    transition: 0.5s; }

.main-nav-icons {
  vertical-align: middle; }
  .main-nav-icons li:first-child::after {
    content: "2";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    background: #2d71cd; }
  .main-nav-icons li:nth-child(2) {
    border-right: solid thin #fff; }

footer {
  background: black; }

body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 71px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #fff; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #2f87fd;
  text-align: center; }

h3 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 58px; }

h4 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #272626; }
  h4 span {
    color: #3086fd; }

h5 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #2f87fd;
  margin: 40px 0; }

p, .hero-banner .wrapper p {
  font-size: 16;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px; }

.hero-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 22, 50, 0.45))), url("../images/advisory_banner.jpg");
  background: -webkit-linear-gradient(rgba(1, 22, 50, 0.45)), url("../images/advisory_banner.jpg");
  background: -o-linear-gradient(rgba(1, 22, 50, 0.45)), url("../images/advisory_banner.jpg");
  background: linear-gradient(rgba(1, 22, 50, 0.45)), url("../images/advisory_banner.jpg");
  background-size: cover;
  width: 100%; }
  .hero-banner h1 {
    width: 70%;
    padding: 15% 0 5% 0; }
  .hero-banner .wrapper p {
    color: #fff;
    line-height: 32px;
    width: 75%;
    letter-spacing: 0.45px; }
  .hero-banner button {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #2f87fd;
    padding: 15px;
    margin: 10% 0; }
    .hero-banner button i {
      margin: 0 10px; }
  .hero-banner button:hover {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #0b397e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    transition: 0.5s; }

.nav-arrow-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  bottom: 400px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .nav-arrow-wrapper a:hover {
    background: #2f87fd;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.nav-arrow {
  color: #fff;
  background: rgba(162, 200, 252, 0.32);
  font-size: 32px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  vertical-align: bottom;
  padding-top: 15px;
  text-align: center; }

.collab {
  background: url("../images/ellipse-left.png") no-repeat;
  margin: 100px 0; }

.collab .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.article-info {
  width: 60%; }
  .article-info p, .article-info .hero-banner .wrapper p, .hero-banner .wrapper .article-info p {
    line-height: 36px;
    margin: 60px 0; }
  .article-info button {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .article-info button i {
      margin-right: 10px;
      padding: 10px; }
  .article-info button:hover {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #0b397e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    transition: 0.5s; }

.collab-offer {
  width: 30%;
  background: #f5f3f4;
  padding: 30px;
  border-right: solid thin #2f87fd; }
  .collab-offer .offer-heading {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px; }
  .collab-offer button:hover {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .collab-offer p, .collab-offer .hero-banner .wrapper p, .hero-banner .wrapper .collab-offer p {
    line-height: 32px;
    letter-spacing: 0.4px;
    margin: 30px; }
  .collab-offer button {
    background: none;
    border: none;
    padding: 0 30px;
    color: #2f87fd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .collab-offer button i {
      margin-right: 10px; }

.our-services {
  background: #f5f3f4 url("../images/ellipse-right.png") no-repeat right bottom;
  padding: 100px; }
  .our-services h5 {
    color: rgba(39, 39, 39, 0.7);
    text-align: center;
    margin-bottom: 15px; }
  .our-services h2::after {
    content: "";
    height: 2px;
    width: 80px;
    background: #2f87fd;
    display: block;
    margin: 45px auto; }
  .our-services .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .our-services .wrapper .service-type {
      width: 30%;
      background: #fff;
      text-align: center;
      padding: 50px;
      margin-bottom: 2%; }
      .our-services .wrapper .service-type h5 {
        font-family: "Source Sans Pro", sans-serif;
        margin-top: 30px; }
      .our-services .wrapper .service-type img {
        margin: 25px;
        height: 50px; }
      .our-services .wrapper .service-type p {
        line-height: 34px; }

.section-heading h5,
.section-heading h2 {
  z-index: 2;
  position: relative; }

.section-heading p, .section-heading .hero-banner .wrapper p, .hero-banner .wrapper .section-heading p {
  font-family: "Playfair Display", serif;
  font-size: 275px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 0;
  bottom: 120px;
  line-height: 0; }

.why-choose-advisory h3::after {
  content: "";
  height: 2px;
  width: 80px;
  background: #2f87fd;
  display: block;
  margin: 45px 0; }

.why-choose-advisory p, .why-choose-advisory .hero-banner .wrapper p, .hero-banner .wrapper .why-choose-advisory p {
  font-family: "Source Sans Pro", sans-serif; }
