@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:400,500,600,700|Source+Sans+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:400,500,600,700|Source+Sans+Pro:400,700");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, .hero-banner .wrapper p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  font-family: "Source Sans Pro", serif; }

.top-nav {
  background: #f5f3f4;
  font-size: 16px;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px;
  padding: 20px;
  border: 0; }
  .top-nav a:hover,
  .top-nav a:focus {
    border-bottom: solid thin #3086fd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.top-nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .top-nav .wrapper .top-nav-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-pack: flex-start space-between;
    -ms-flex-pack: flex-start space-between;
    justify-content: flex-start space-between;
    text-transform: capitalize; }
    .top-nav .wrapper .top-nav-info img {
      vertical-align: middle; }
  .top-nav .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .top-nav .wrapper li {
    padding: 5px;
    margin: 0 10px; }
    .top-nav .wrapper li i {
      color: #3086fd;
      margin: 0 10px; }
  .top-nav .wrapper li:last-child {
    margin-right: 0; }
  .top-nav .wrapper select {
    border-style: none;
    background: #f5f3f4; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0; }

.logo {
  width: 30%;
  display: inline-block; }
  .logo img {
    vertical-align: top; }

.banner-info {
  display: inline-block;
  margin-left: 25px; }

.banner-p {
  font-size: 18px;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px;
  padding: 10px 0;
  color: rgba(39, 39, 39, 0.7); }

.office-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .office-info .office-info-item img {
    vertical-align: top; }

.free-consult p, .free-consult .hero-banner .wrapper p, .hero-banner .wrapper .free-consult p {
  border: solid 2px #3086fd;
  padding: 20px;
  color: #3086fd;
  text-transform: uppercase; }

.hamburger-nav {
  display: none; }

.main-nav {
  font-size: 18px;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px;
  background: #3086fd;
  color: #fff;
  letter-spacing: 0.45;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-nav li {
    text-transform: uppercase;
    padding: 25px 15px 15px 20px; }
  .main-nav li:hover,
  .main-nav li:focus {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #3086fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #0b397e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    transition: 0.5s; }

.main-nav-icons {
  vertical-align: middle; }
  .main-nav-icons li:first-child {
    position: relative; }
  .main-nav-icons li:first-child::after {
    content: "2";
    text-align: center;
    width: 10px;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 12px;
    background: #2d71cd;
    position: absolute;
    bottom: 5px;
    right: 5px; }
  .main-nav-icons li:nth-child(2) {
    border-right: solid thin #fff; }

@media (max-width: 960px) {
  .top-nav .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .top-nav .wrapper .top-nav-info {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 100%;
      margin: 10px 0; }
    .top-nav .wrapper ul {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .banner .logo {
      margin: 0 auto;
      width: 100%;
      text-align: center; }
    .banner .banner-info {
      margin-left: 15px;
      text-align: left; }
    .banner .office-info {
      width: 100%;
      margin-top: 20px; }
  ul.main-nav-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background: #3086fd;
    padding: 0 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .hamburger-nav {
    display: block;
    position: relative; }
    .hamburger-nav i {
      margin: 20px; }
  .hamburger-nav:hover + ul.main-nav-menu,
  .hamburger-nav:focus + ul.main-nav-menu {
    display: block;
    position: absolute;
    top: 375px; }
  .main-nav-icons {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

@media (max-width: 768px) {
  .banner .office-info {
    width: 100%;
    margin-top: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .banner .office-info .office-info-item {
      margin: 10px; }
    .banner .office-info a {
      margin: 50px auto 0 auto; }
  .hamburger-nav i {
    margin: 10px; }
  .main-nav li {
    padding: 10px 20px; } }

@media (max-width: 480px) {
  .top-nav {
    font-size: 12px; }
    .top-nav img {
      display: none; }
    .top-nav .wrapper li {
      margin: 0; }
  .banner .office-info a {
    margin: 0; }
  .main-nav li {
    padding: 10px; } }

@media (max-width: 320px) {
  .main-nav li {
    padding: 5px; } }

footer {
  background: #202020; }

.footer-contact-info {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2f87fd), color-stop(50%, #202020));
  background: -webkit-linear-gradient(top, #2f87fd 50%, #202020 50%);
  background: -o-linear-gradient(top, #2f87fd 50%, #202020 50%);
  background: linear-gradient(180deg, #2f87fd 50%, #202020 50%);
  position: relative;
  z-index: 1; }
  .footer-contact-info .footer-contact-item {
    background: #313030;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-shadow: 0px 50px 0px -20px #424141;
    box-shadow: 0px 50px 0px -20px #424141;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-contact-info .footer-contact-item .contact-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px; }
      .footer-contact-info .footer-contact-item .contact-item p {
        color: #fff;
        padding: 20px; }

.footer-content {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer-content .footer-items {
    margin: 10px;
    width: 30%; }
    .footer-content .footer-items p {
      color: #b1afaf;
      width: 100%;
      line-height: 32px; }
    .footer-content .footer-items .footer-logo {
      padding-bottom: 20px; }
    .footer-content .footer-items .banner-info {
      display: inline-block;
      padding-bottom: 30px; }
      .footer-content .footer-items .banner-info h4 {
        color: #fff;
        padding-bottom: 0; }
      .footer-content .footer-items .banner-info p {
        padding: 0; }
    .footer-content .footer-items h6 {
      color: #2f87fd;
      font-size: 15px;
      font-family: "Source Sans Pro", sans-serif; }
    .footer-content .footer-items input {
      background: #313030;
      border: none;
      color: #605d5d;
      padding: 10px 20px; }
    .footer-content .footer-items form button {
      background: #2f87fd;
      border-radius: 20%;
      color: #fff;
      padding: 10px 30px;
      position: relative;
      left: -15px;
      border: none;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .footer-content .footer-items button {
      padding: 0; }
    .footer-content .footer-items button:hover,
    .footer-content .footer-items button:focus {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .footer-content .footer-items h5 {
      color: #fff;
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0; }
    .footer-content .footer-items li {
      color: #b1afaf;
      line-height: 40px; }

.footer-items {
  line-height: 32px; }
  .footer-items button {
    background: none;
    border: none;
    padding: 0 30px;
    color: #2f87fd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .footer-items button i {
      margin-right: 10px;
      color: #fff; }
  .footer-items button:hover,
  .footer-items button:focus {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.footer-news-items {
  width: 90%;
  margin: 30px 0; }
  .footer-news-items span {
    color: #545454;
    padding-bottom: 50px; }

.recieve-email {
  padding: 50px 0; }

.social-footer {
  border-top: solid 1px #545454;
  padding: 50px; }
  .social-footer .wrapper {
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .social-footer p, .social-footer .hero-banner .wrapper p, .hero-banner .wrapper .social-footer p {
    margin: 10px; }
  .social-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .social-footer ul li {
      margin: 10px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .social-footer ul li:hover,
    .social-footer ul li:focus {
      -webkit-transform: scaleY(2) scaleX(2);
      -ms-transform: scaleY(2) scaleX(2);
      transform: scaleY(2) scaleX(2);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      color: #2f87fd; }

@media (max-width: 960px) {
  .footer-contact-info .footer-contact-item .contact-item p {
    padding: 10px;
    font-size: 14px; }
  .footer-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0; }
    .footer-content .footer-items:first-child {
      width: 100%; }
    .footer-content .footer-items {
      line-height: 25px; }
      .footer-content .footer-items h6 {
        float: left;
        padding: 20px 0; }
      .footer-content .footer-items input {
        margin: 20px 0px 20px 40px; }
      .footer-content .footer-items .footer-news-items {
        margin: 0; } }

@media (max-width: 768px) {
  .footer-contact-info .footer-contact-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-contact-info .footer-contact-item .contact-item {
      margin: 0 auto; }
  .social-footer p, .social-footer .hero-banner .wrapper p, .hero-banner .wrapper .social-footer p {
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-content .footer-items input {
    padding: 10px 5px;
    margin: 2%; }
  .footer-content .footer-items form button {
    padding: 10px; } }

@media (max-width: 480px) {
  .social-footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer button {
    display: none; } }

body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

section {
  padding: 100px 0; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 71px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #fff; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #2f87fd;
  text-align: center; }

h3 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 58px; }

h4 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #272626; }
  h4 span {
    color: #3086fd; }

h5 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #2f87fd;
  margin: 40px 0; }

p, .hero-banner .wrapper p {
  font-size: 16;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px; }

.hero-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 22, 50, 0.45))), url("../images/advisory_banner.jpg");
  background: -webkit-linear-gradient(rgba(1, 22, 50, 0.45)), url("../images/advisory_banner.jpg");
  background: -o-linear-gradient(rgba(1, 22, 50, 0.45)), url("../images/advisory_banner.jpg");
  background: linear-gradient(rgba(1, 22, 50, 0.45)), url("../images/advisory_banner.jpg");
  background-size: cover;
  width: 100%; }
  .hero-banner h1 {
    width: 70%;
    padding: 15% 0 5% 0; }
  .hero-banner .wrapper p {
    color: #fff;
    line-height: 32px;
    width: 75%;
    letter-spacing: 0.45px; }
  .hero-banner button {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #2f87fd;
    padding: 15px;
    margin: 10% 0; }
    .hero-banner button i {
      margin: 0 10px; }
  .hero-banner button:hover button:focus {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #0b397e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    transition: 0.5s; }

.nav-arrow-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  bottom: 400px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .nav-arrow-wrapper a:hover,
  .nav-arrow-wrapper a:focus {
    background: #2f87fd;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.nav-arrow {
  color: #fff;
  background: rgba(162, 200, 252, 0.32);
  font-size: 32px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  vertical-align: bottom;
  padding-top: 15px;
  text-align: center; }

.collab {
  background: url("../images/ellipse-left.png") no-repeat;
  margin: 100px 0; }

.collab .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.article-info {
  width: 60%; }
  .article-info p, .article-info .hero-banner .wrapper p, .hero-banner .wrapper .article-info p {
    line-height: 36px;
    margin: 60px 0; }
  .article-info button {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .article-info button i {
      margin-right: 10px;
      padding: 10px; }
  .article-info button:hover,
  .article-info button:focus {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    background: #2f87fd;
    color: #fff;
    letter-spacing: 0.45;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #0b397e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    transition: 0.5s; }

.collab-offer {
  width: 30%;
  background: #f5f3f4;
  padding: 30px;
  border-right: solid thin #2f87fd; }
  .collab-offer .offer-heading {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px; }
  .collab-offer button:hover,
  .collab-offer button:focus {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .collab-offer p, .collab-offer .hero-banner .wrapper p, .hero-banner .wrapper .collab-offer p {
    line-height: 32px;
    letter-spacing: 0.4px;
    margin: 30px; }
  .collab-offer button {
    background: none;
    border: none;
    padding: 0 30px;
    color: #2f87fd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .collab-offer button i {
      margin-right: 10px; }

.our-services {
  background: #f5f3f4 url("../images/ellipse-right.png") no-repeat right bottom;
  padding: 100px; }
  .our-services h5 {
    color: rgba(39, 39, 39, 0.7);
    text-align: center;
    margin-bottom: 15px; }
  .our-services h2::after {
    content: "";
    height: 2px;
    width: 80px;
    background: #2f87fd;
    display: block;
    margin: 45px auto; }
  .our-services .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .our-services .wrapper .service-type {
      width: 30%;
      background: #fff;
      text-align: center;
      padding: 50px;
      margin-bottom: 30px; }
      .our-services .wrapper .service-type h5 {
        font-family: "Source Sans Pro", sans-serif;
        margin-top: 30px; }
      .our-services .wrapper .service-type img {
        margin: 25px;
        height: 50px; }
      .our-services .wrapper .service-type p {
        line-height: 34px; }

.section-heading h5,
.section-heading h2 {
  z-index: 2;
  position: relative;
  text-align: center; }

.section-heading h3::after {
  content: "";
  height: 2px;
  width: 80px;
  background: #2f87fd;
  display: block;
  margin: 45px 0; }

.section-heading p, .section-heading .hero-banner .wrapper p, .hero-banner .wrapper .section-heading p {
  font-family: "Playfair Display", serif;
  font-size: 275px;
  font-weight: 700;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  z-index: 0;
  line-height: 0; }

.white-cap {
  color: #fff;
  bottom: 120px; }

.why-choose-advisory .article-info-wrapper,
.why-choose-advisory .advisory-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0; }

.why-choose-advisory h3::after {
  content: "";
  height: 2px;
  width: 80px;
  background: #2f87fd;
  display: block;
  position: relative;
  bottom: -20px; }

.why-choose-advisory .article-info {
  width: 55%; }

.why-choose-advisory .sub-advisory {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2f87fd;
  margin-top: 50px; }

.why-choose-advisory img {
  vertical-align: top; }

.why-choose-advisory .advisory-block-items {
  width: 30%;
  padding: 20px;
  border: solid 1px #f2f2f2; }
  .why-choose-advisory .advisory-block-items img {
    vertical-align: middle; }
  .why-choose-advisory .advisory-block-items h5 {
    font-size: 18px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(39, 39, 39, 0.7);
    display: inline;
    margin-left: 25px; }
  .why-choose-advisory .advisory-block-items p {
    line-height: 36px;
    margin-top: 30px;
    padding: 10px; }

.advisory-blocks {
  padding: 70px 0; }

.advisory-block-items:hover,
.advisory-block-items:focus {
  border-left: solid 1px #2f87fd; }
  .advisory-block-items:hover h5,
  .advisory-block-items:focus h5 {
    color: #2f87fd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.stat-line {
  background: #1f2329;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .stat-line .stat-item {
    border-right: 1px solid #313f51;
    width: 100%;
    padding: 70px; }
  .stat-line .stat-item:last-child {
    border: none; }
  .stat-line h5 {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-weight: 400; }
  .stat-line p, .stat-line .hero-banner .wrapper p, .hero-banner .wrapper .stat-line p {
    font-size: 44px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    font-weight: 700;
    color: #2f87fd;
    font-family: "Poppins";
    width: 100%; }

.latest-news h5,
.latest-project h5 {
  color: rgba(39, 39, 39, 0.7);
  text-align: center;
  margin-bottom: 15px; }

.grey-cap {
  color: #f6f3f3;
  bottom: 30px; }

.section-info {
  font-size: 20px;
  color: rgba 0, 0, 0, 0.7;
  font-weight: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .section-info p, .section-info .hero-banner .wrapper p, .hero-banner .wrapper .section-info p {
    width: 70%;
    line-height: 37px; }
  .section-info button {
    background: none;
    border: none;
    padding: 0 30px;
    color: #2f87fd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .section-info button i {
      margin-right: 10px; }
  .section-info button:hover,
  .section-info button:focus {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.section-items img {
  margin: 10px;
  width: calc((100%/3) - 25px); }

.staff-section {
  background: #2f87fd; }
  .staff-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .staff-section img {
    width: 100%; }
  .staff-section .staff-section-info {
    font-size: 21px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    color: #fff;
    width: 60%;
    text-align: center;
    font-weight: 500; }
    .staff-section .staff-section-info p {
      margin: 0 50px;
      line-height: 38px; }
    .staff-section .staff-section-info p:first-child::after {
      content: "";
      height: 2px;
      width: 80px;
      background: #fff;
      display: block;
      margin: 50px auto; }
  .staff-section .staff-name {
    font-size: 22px; }
  .staff-section .staff-title {
    font-size: 16px;
    color: rgba 0, 0, 0, 0.7;
    font-weight: 400px;
    margin-top: 10px; }

.tictac-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100px;
  margin: 50px auto; }
  .tictac-wrapper .tictac {
    background: #347ad8;
    width: 26px;
    height: 14px;
    border-radius: 35%;
    display: block; }
  .tictac-wrapper :hover,
  .tictac-wrapper :focus {
    background: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.news-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .news-item-wrapper .news-items {
    margin: 20px;
    width: calc((100%/3) - 25px); }
  .news-item-wrapper img {
    width: 100%; }
  .news-item-wrapper h5 {
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    color: #2f87fd;
    font-weight: 600;
    line-height: 32px; }
  .news-item-wrapper p, .news-item-wrapper .hero-banner .wrapper p, .hero-banner .wrapper .news-item-wrapper p {
    line-height: 30px;
    color: rgba(39, 39, 39, 0.7); }
  .news-item-wrapper .news-item-date {
    color: #2f87fd; }

.sponsors {
  background: #2f87fd; }
  .sponsors .wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sponsors a {
    width: 100%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .sponsors a:hover,
  .sponsors a:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

@media (max-width: 940px) {
  .wrapper {
    width: 80%; }
  h2 {
    font-size: 36px; }
  h5 {
    font-size: 18px; }
  section {
    padding: 30px; }
  .hero-banner {
    text-align: center;
    margin: 0 auto; }
    .hero-banner h1 {
      font-size: 50px;
      margin: 0 auto; }
    .hero-banner p, .hero-banner .wrapper p {
      margin: 0 auto;
      line-height: 25px; }
  .nav-arrow-wrapper {
    width: 20%;
    margin: 0 auto;
    bottom: 20px; }
  .collab {
    margin-top: 50px;
    margin-bottom: 0; }
    .collab .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .collab .wrapper .article-info,
      .collab .wrapper .collab-offer {
        width: 100%;
        padding: 30px; }
      .collab .wrapper h3 {
        line-height: 50px;
        font-size: 36px; }
  .section-heading {
    font-size: 200px; }
  .collab .wrapper .article-info p {
    line-height: 25px;
    margin: 30px 0; }
  .collab-offer p, .collab-offer .hero-banner .wrapper p, .hero-banner .wrapper .collab-offer p {
    line-height: 25px;
    margin: 10px 0; }
  .collab-offer button {
    padding: 0; }
  .our-services {
    margin: 50px 0;
    padding: 50px 0; }
    .our-services h5 {
      margin: 10px; }
    .our-services .wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .our-services .wrapper .service-type {
        padding: 20px;
        margin: 10px;
        width: calc(50% - 20px); }
        .our-services .wrapper .service-type p {
          line-height: 25px; }
  .article-info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 10px auto; }
  .article-info,
  .article-info-img {
    margin: 0 auto; }
  .why-choose-advisory .article-info {
    width: 80%; }
    .why-choose-advisory .article-info .sub-advisory {
      margin: 20px 0; }
    .why-choose-advisory .article-info p {
      line-height: 30px;
      margin: 20px 0; }
  .why-choose-advisory .advisory-blocks {
    padding: 0; }
    .why-choose-advisory .advisory-blocks p {
      line-height: 0px;
      margin-top: 0px;
      padding: 20px; }
  .advisory-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px; }
    .advisory-blocks .advisory-block-items {
      width: 100%;
      margin: 10px;
      text-align: center; }
  .why-choose-advisory .article-info-wrapper {
    padding: 0; }
  .stat-line {
    margin: 30px 0; }
    .stat-line h5 {
      font-size: 16px; }
    .stat-line p, .stat-line .hero-banner .wrapper p, .hero-banner .wrapper .stat-line p {
      font-size: 36px; }
    .stat-line .stat-item {
      padding: 10px; }
  .latest-project {
    padding: 20px 0;
    margin: 0; }
  .section-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 80px 0 20px 0; }
    .section-info p, .section-info .hero-banner .wrapper p, .hero-banner .wrapper .section-info p {
      text-align: center;
      margin: 20px auto;
      line-height: 25px; }
  .staff-section .staff-section-info p {
    font-size: 14px;
    line-height: 25px; }
  .staff-section .staff-section-info p:first-child::after {
    margin: 25px auto; }
  .news-item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .news-item-wrapper .news-items {
      width: 100%; }
      .news-item-wrapper .news-items img {
        margin: 10px;
        width: 40%;
        float: left; }
      .news-item-wrapper .news-items h5 {
        margin: 15px;
        font-size: 18px;
        font-weight: 500px;
        line-height: 25px; }
      .news-item-wrapper .news-items p {
        line-height: 25px; }
  .sponsors .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center; }
  .sponsors a {
    width: 40%;
    margin: 15px 0; } }

@media (max-width: 768px) {
  section {
    margin: 20px 0;
    padding: 20px 0; }
  .hero-banner h1 {
    width: 100%;
    font-size: 50px; }
  .our-services {
    margin: 20px 0; }
    .our-services .wrapper .service-type {
      width: 100%;
      padding: 10px; }
      .our-services .wrapper .service-type h5 {
        margin: 0; }
      .our-services .wrapper .service-type img {
        margin: 15px; }
      .our-services .wrapper .service-type p {
        line-height: 20px;
        font-size: 14px;
        padding: 10px; }
  .section-heading h2 {
    font-size: 25px; }
  .section-heading h2::after {
    margin: 30px auto; }
  .section-heading h5 {
    font-size: 14px; }
  .section-heading p, .section-heading .hero-banner .wrapper p, .hero-banner .wrapper .section-heading p {
    font-size: 100px; }
  .service-type {
    width: 100%; }
  .why-choose-advisory .article-info {
    width: 100%; }
    .why-choose-advisory .article-info h3 {
      font-size: 30px; }
    .why-choose-advisory .article-info h3:after {
      bottom: 0; }
    .why-choose-advisory .article-info p {
      font-size: 16px;
      line-height: 25px; }
  .article-info-img img {
    width: 100%; }
  .why-choose-advisory .advisory-blocks p {
    line-height: 20px;
    padding: 0; }
  .stat-line {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px 0; }
    .stat-line .stat-item {
      width: 50%;
      text-align: center;
      border-bottom: 1px solid #313f51;
      padding: 20px; }
      .stat-line .stat-item h5 {
        margin: 10px; }
  .latest-project h5,
  .latest-news h5 {
    margin: 0; }
  .section-info {
    margin: 0; }
  .staff-section .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .staff-img {
    width: 50%;
    margin: 0 auto; }
  .staff-section .staff-section-info {
    width: 100%; }
    .staff-section .staff-section-info p {
      font-size: 16px; }
  .news-item-wrapper .news-items h5 {
    margin: 5px;
    font-size: 16px;
    line-height: 20px; }
  .news-item-wrapper .news-items p {
    line-height: 20px; } }

@media (max-width: 480px) {
  .hero-banner .wrapper h1 {
    font-size: 40px; }
  .collab .wrapper .article-info h3 {
    line-height: 35px;
    font-size: 30px; }
  .collab .wrapper .article-info h5 {
    margin: 10px 0; }
  .latest-project p, .latest-project .hero-banner .wrapper p, .hero-banner .wrapper .latest-project p,
  .latest-news p,
  .latest-news .hero-banner .wrapper p, .hero-banner .wrapper
  .latest-news p {
    font-size: 16px;
    line-height: 20px; }
  .news-item-wrapper .news-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .latest-news .wrapper .news-item-wrapper .news-items img {
    width: 80%; }
  .sponsors .wrapper a {
    width: 100%; } }
