@import "components/normalize";
@import "components/reset";
@import "components/mixin";
@import "components/header";
@import "components/variables";
@import "components/functions";
@import "components/footer";

body {
    background: #ffffff;
    font-family: $baseFont;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
h1 {
    @include serifHeading (71px);
    color: #fff;  
}
h2 {
    @include serifHeading (50px);
    color: $primary;
    text-align:center;
}
h3 {
    @include serifHeading (45px);
    line-height: 58px;  
}
h4 {
    @include serifHeading (32px);
    color: #272626;
    span {
        color: #3086fd;
    }
}
h5 {
    @include serifHeading (20px);
    color: $primary;
    margin: 40px 0;
}
p {
    @include fontSize(16);
}
.hero-banner {
    background: 
        linear-gradient(rgba(1, 22, 50, 0.45)),
        url("../images/advisory_banner.jpg");
        background-size: cover;
        width: 100%;
        h1 {
            width: 70%;
            padding: 15% 0 5% 0;
        }
        .wrapper p {
            @extend p;
            color: #fff;
            line-height: 32px;
            width: 75%;
            letter-spacing: 0.45px;
        }
        button {
            @include blue-box;
            background: $primary;
            padding: 15px;
            margin: 10% 0;
            i {
                margin: 0 10px;
            }
        }
        button:hover {
            @include blue-box-hover;
        }
    }
.nav-arrow-wrapper{
    width: 100%;
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 400px;
    transition: 0.5s;
    a:hover {
        background: $primary;
        border-radius: 50%;
        transition: 0.5s;
    }
}
.nav-arrow {
    color: #fff;
    background: rgba(162, 200, 252, 0.32);
    font-size: 32px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    vertical-align: bottom;
    padding-top: 15px;
    text-align: center; 
}
.collab {
    background: url('../images/ellipse-left.png') no-repeat;
    margin: 100px 0;
}
.collab .wrapper {
    @include flexbox;
    justify-content: space-around;
}
.article-info {
    width: 60%;
    p {
        line-height: 36px;
        margin: 60px 0;        
    }
    button {
        @include blue-box;
        i {
            margin-right: 10px;
            padding: 10px;
        }
    }
    button:hover {
        @include blue-box-hover;
    }
}

.collab-offer {
    width: 30%;
    background: $secondary;
    padding: 30px;
    border-right: solid thin $primary;
    .offer-heading {
        @include serifHeading (18px);
    }
    button:hover {
            transform: translateX(20px);
            transition: 0.5s
        }
    p {
        line-height: 32px;
        letter-spacing: 0.4px;
        margin: 30px;
    }
    button {
        background: none;
        border: none;
        padding: 0 30px;
        color: $primary;
        transition: 0.5s;
        i {
            margin-right: 10px;
        }  
    } 
}
.our-services {
    background: $secondary url('../images/ellipse-right.png') no-repeat right bottom;
    padding: 100px;
    h5 {
        color: $tertiary;
        text-align: center;
        margin-bottom: 15px;
    }
    h2::after {
        content: "";
        height: 2px;
        width: 80px;
        background: $primary;
        display: block;
        margin: 45px auto;
    }
    .wrapper {
        @include flexbox;
        min-height: 500px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .service-type {
            width: 30%;
            background: #fff;
            text-align: center;
            padding: 50px;
            margin-bottom: 30px;
            h5{
                font-family: $baseFont;
                margin-top: 30px;
            }
            img {
                margin: 25px;
                height: 50px;
            }
            p {
                line-height: 34px;
            }
        }
    }
}
section {
    padding: 100px 0;
}
.section-heading h5,
.section-heading h2{
    z-index: 2;
    position: relative;
    text-align: center;
}
.section-heading h3::after{
      content: "";
        height: 2px;
        width: 80px;
        background: $primary;
        display: block;
        margin: 45px 0;
    }
.section-heading p{
    @include serifHeading(275px);
    position: relative;
    text-align: center;
    z-index: 0;
    line-height: 0;
}
//end our services
.white-cap {
    color: #fff;
    bottom: 120px;
}
.why-choose-advisory {
    .article-info-wrapper,
    .advisory-blocks {
        @include flexbox;
        justify-content: space-between;
        padding: 50px 0;
    }
    h3::after {
        content: "";
        height: 2px;
        width: 80px;
        background: $primary;
        display: block;
        position: relative;
        bottom: -20px;
    }
    .article-info {
        width:55%;
    }
    .sub-advisory {
        font-family: $baseFont;
        font-size: 18px;
        font-weight: 500;
        color: $primary;
        margin-top: 50px;
    }
    img {
        vertical-align: top;
    }
    .advisory-block-items {
        width: 30%;
        padding: 20px;
        border: solid 1px #f2f2f2;
        img {
            vertical-align: middle;
        }
        h5 {
            @include fontSize(18px);
            font-family: $baseFont;
            color: $tertiary;
            display: inline;
            margin-left: 25px;
        }
        p {
            line-height: 36px;
            margin-top: 30px;
            padding: 10px;
        }
    }
}
.advisory-blocks {
    padding: 70px 0;
}
.advisory-block-items:hover {
    border-left: solid 1px $primary;
    h5{
        color: $primary;
        transition: 0.5s;
    }
}
.stat-line {
    background: #1f2329;
    @include flexbox;
    justify-content: space-around;
    .stat-item {
        border-right: 1px solid #313f51;
        width: 100%;
        padding: 70px;   
    }
    .stat-item:last-child {
            border: none;
        }
    h5 {
        font-family: $baseFont;
        color: #fff;
        font-weight: 400;
    }
    p{
        @include fontSize(44px);
        font-weight: 700;
        color: $primary;
        font-family: $tertiaryHeadingFont;
        width: 100%;
    }
}
.latest-news h5,
.latest-project h5 {
        color: $tertiary;
        text-align: center;
        margin-bottom: 15px;
    }
.grey-cap {
    color: #f6f3f3;
    bottom: 30px;
}
.section-info {
    @include fontSize (20px);
    @include flexbox;
    margin: 80px 0;
    justify-content: space-between;
    width: 100%;
    p {
        width: 70%;
        line-height: 37px;
    }
    button {
        background: none;
        border: none;
        padding: 0 30px;
        color: $primary;
        transition: 0.5s;
        i {
            margin-right: 10px;
        }  
    } 
    button:hover {
            transform: translateX(20px);
            transition: 0.5s
        }
}
.section-items img{
    margin: 10px;
    width: calc((100%/3) - 25px);
}
.staff-section {
    background: $primary;
    .wrapper {
        @include flexbox;
    }
    img {
    width:100%;        
    }
    .staff-section-info {
        @include fontSize (21px);
        color: #fff;
        width: 60%;
        text-align: center;
        font-weight: 500;
        p {
            margin: 0 50px;
            line-height: 38px;
        }
        p:first-child::after {
            content: "";
            height: 2px;
            width: 80px;
            background: #fff;
            display: block;
            margin: 50px auto;
        }
    }
    .staff-name {
        font-size: 22px;
    }
    .staff-title {
        @include fontSize (16px);
        margin-top: 10px;
    }
}
.tictac-wrapper{
    @include flexbox;
    justify-content: space-around;
    width: 100px;
    margin: 50px auto;
.tictac {
    background: #347ad8;
    width: 26px;
    height: 14px;
    border-radius: 35%;
    display: block;
    }
    :hover {
        background: #fff;
        transition: 0.5s;
    }
}
.news-item-wrapper {
    @include flexbox;
    justify-content: space-around;
    .news-items {
        margin: 20px;
        width: calc((100%/3) - 25px);
    }
    img {
        width:100%;
    }
    h5 {
        font-family: $baseFont;
        text-align: left;
        color: $primary;
        font-weight: 600;
        line-height: 32px;
    }
    p{
        line-height: 30px;
        color: $tertiary;
    }
    .news-item-date {
        color:$primary;
    }
}
.sponsors {
    background: $primary;
    .wrapper {
    justify-content: space-around;
    @include flexbox;
    }
    a {
        width: 100%;
        transition: 0.2s;
    }
    a:hover {
        transform: scale(1.2);
        transition: 0.2s;
    }
}


@media (max-width : 960px) {

.wrapper {
    width: 80%;
}

section {
    padding: 30px;
}
.hero-banner {
    text-align: center;
    margin: 0 auto;
    h1 {
        font-size: 50px;
        margin: 0 auto;
    }
    p{
        margin: 0 auto;
    }
}
.nav-arrow-wrapper {
    width: 20%;
    margin: 0 auto;
    bottom: 20px;
}

.collab {
    margin-top: 50px;
    margin-bottom: 0;
    .wrapper {
        flex-direction: column;
        .article-info,
        .collab-offer {
            width: 100%;
            padding: 30px;
        }
        h3 {
            font-size: 36px;
        }
    }
}

.our-services {
    margin: 50px 0;
    padding: 50px 0;
    h5 {
        margin: 10px;
    }
    .wrapper {
        flex-wrap: wrap;
        .service-type {
            margin: 10px;
            width: calc(50% - 20px);
        }
    }
}

.article-info-wrapper {
    flex-direction: column-reverse;
    margin: 10px auto;
}
.article-info,
.article-info-img {
    margin: 0 auto;
}

.why-choose-advisory .article-info {
    width: 80%;
    .sub-advisory {
        margin: 20px 0;
    }
    p {
        margin: 20px 0;
    }
}
.why-choose-advisory .advisory-blocks {
    padding: 0;
}
.advisory-blocks {
    flex-direction: column;  
    padding: 0px;
    .advisory-block-items {
        width: 100%;  
        margin: 10px;
        text-align: center;  
    }
}
.stat-line {
    margin: 30px 0;
    h5 {   
        font-size: 16px;
    }
    p {
        font-size: 36px;
    }
    .stat-item {
        padding: 10px;
    }
}
.latest-project {
    padding: 20px 0;
    margin: 0;
}
.section-info {
    flex-direction: column;
    margin: 80px 0 20px 0;
    p {
        text-align: center;
        margin: 20px auto;
        line-height: 25px;
    }
}

.staff-section .staff-section-info p{
        font-size: 14px;
        line-height: 25px;
}

.staff-section .staff-section-info p:first-child::after {
    margin: 25px auto;
}

.news-item-wrapper {
    flex-direction: column;
    .news-items {
        width: 100%;
        img {   
            margin: 10px;
            width: 40%;
            float: left;
        }
        h5 {
            margin: 15px;
            font-size: 18px;
            font-weight: 500px;
            line-height: 25px;
        }
        p {
            line-height: 25px;
        }
    }
}

.sponsors .wrapper {
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    }

.sponsors a {
    width: 40%;
    margin: 15px 0;
}





} //end media query max-width: 1024